
h1 {
  text-align: center;
}

/* Two Sub Sections */
.tweet-grid {
  background-color: lightblue;  /* change later*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem;
  padding: 2rem;
}

/* 1st half section */
.tweet-info {
  display: grid;
  grid-template-columns: 1fr;
}

/* Other Part of Half Section */
.tweet-stats {
  display: grid;
  grid-template-columns: 1fr;
}

.stats-count {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



/* From cssbuttons.io */
.btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(253, 250, 250, 1);
  color: black;
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}

/* Preview */

.prev-container {
  background-color: lightblue;  /* change later*/
  display: grid;
  
}

.pfp img {
  border-radius: 100%;
}



