body {
  font-family: 'Roboto', sans-serif;

}

h1 {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'IBM Plex Sans', sans-serif;
}

hr {
  margin: 0.5rem 0;
}

/** all invalid inputs  */
.text-danger {
  visibility: hidden;
  position: absolute;
}

/* Two Sub Sections */

.tweet-grid {
  background-color: #add8e6;

  box-shadow:
    3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
    8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
    17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
    36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem 15rem;
  padding: 3rem;

}

/* 1st half section */

.tweet-info {
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1px solid #000;
  grid-row-gap: 2rem;
  justify-items: center;
}

/* Other Part of Half Section */
.tweet-stats {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  justify-items: center;
}

.stats-count {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* From css buttons.io */
.btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(253, 250, 250, 1);
  color: black;
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}

.remove {
  background-color: #000;
  color: white;
}

.remove:hover {
  background-color: #000;
  color: #fff;
}

/* Preview */
.preview {
  margin: 10rem 15rem;
  padding: 3rem 10rem;
  background-color: lightblue;
  box-shadow:
    3.4px 3.4px 2.7px rgba(0, 0, 0, 0.022),
    8.7px 8.7px 6.9px rgba(0, 0, 0, 0.031),
    17.7px 17.7px 14.2px rgba(0, 0, 0, 0.039),
    36.5px 36.5px 29.2px rgba(0, 0, 0, 0.048),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.prev-container {
  height: 500px;
  width: 800px;
  margin: 3rem auto 5rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  height: fit-content;

}

/* Top part */
.top-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pfp-image {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin-right: 1rem;
  float: left;
}

.name {
  font-size: large;
  line-height: 30px;
}

.verified-badge {
  position: absolute;
  visibility: hidden;
  width: 4%;
}

.username {
  font-size: large;
}

.dots {
  text-align: right;
}

.dots img {
  width: 5%;
  transform: rotate(90deg);
}

/* middle part */
.middle-container {
  font-size: x-large;
  font-weight: 400;
}


.message {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: auto;
  /* fallback */
  max-height: auto;
  /* fallback */
  -webkit-line-clamp: auto;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* bottom part */
.bottom-container {
  display: grid;
  grid-template-columns: 1fr;
}


.tweet-details span {
  margin: 0 0.3rem;
  font-size: large;
}

.userdevice-link {
  text-decoration: none;
}

.userdevice-link :hover {
  text-decoration: underline;
}

.tweet-popularity {
  font-size: large;
}

.tweet-popularity div {
  margin-right: 1.5rem;
  display: inline-block;
}

.tweet-interact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tweet-interact div {
  text-align: center;
  padding: 0.3rem;
}

.tweet-interact div img {
  width: 15%;
}


#output {
  display: grid;
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1920px) {

  .tweet-grid {
    margin: 5rem 10rem;
  }

  #output {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    justify-items: center;
  }

}

@media (max-width: 1600px) {
  .tweet-grid {
    margin: 3rem;
  }

  .upload-button {
    margin-bottom: 2rem;
  }

  .preview {
    margin: 5rem 3rem;
  }
}

@media (max-width: 1300px) {

  .tweet-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }

  .tweet-info {
    border-right: none;
    border-bottom: 1px solid black;

  }

  .tweet-grid {
    margin: 5rem 4rem;
  }

  .preview {
    padding: 2rem 0;
    margin: 5rem 2rem;
  }
}