h1 {
  text-align: center;
}

/* Two Sub Sections */
.tweet-grid {
  background-color: lightblue;
  /* change later*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem;
  padding: 2rem;
}

/* 1st half section */
.tweet-info {
  display: grid;
  grid-template-columns: 1fr;
}

.form-floating {
  margin: 2rem 0;
}

/* Other Part of Half Section */
.tweet-stats {
  display: grid;
  grid-template-columns: 1fr;
}

.stats-count {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



/* From cssbuttons.io */
.btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(253, 250, 250, 1);
  color: black;
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}

/* Preview */

.preview-grid {
  margin: 5rem;
  padding: 5rem;
  background-color: lightblue;
}

.prev-container {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
}

.top-container {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.pfp {
  text-align: right;
}

.pfp img {
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;

}

.dots img {
  width: 5%;
  
}

/* middle part */
.middle-container {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}

.tweet {
  font-size: x-large;
}

.message {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: auto;
  /* fallback */
  max-height: auto;
  /* fallback */
  -webkit-line-clamp: auto;
  /* number of lines to show */
  -webkit-box-orient: vertical;

}

/* bottom part */

.bottom-container {
  padding: 5rem;
  
  display: grid;
  grid-template-columns: 1fr;
}

.tweet-details i {
  margin: 0 0.3rem;
}

.userdevice-link {
  text-decoration: none;
}
.userdevice-link :hover{
  text-decoration: underline;
}

.tweet-popularity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tweet-interact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tweet-interact div img {
  width: 15%;
}
